<a href="https://colab.research.google.com/github/Chominseo99/python_projects/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [3,6,1,8,9]
for i in range(len(a)):
    a[i] = a[i] + 2
    print(a)

[5, 6, 1, 8, 9]
[5, 8, 1, 8, 9]
[5, 8, 3, 8, 9]
[5, 8, 3, 10, 9]
[5, 8, 3, 10, 11]

In [ ]:
snack = {
            '죠리퐁': '2000원', 
            '고래밥': '1500원',
            '사또밥': '2500원'
        }

print(snack['죠리퐁'])

2000원

In [ ]:
score = {
            '강호동': '0점',
            '이수근': '0점',
            '은지원': '0점'
        }

def call_name(score, name):
    score[name] = score[name] - 1

In [ ]:
def repeat(sentence):
    return sentence * 3

In [ ]:
a = [1,2,7,3,5,9,8,2,3]
c = 1
for i in a[1:9]:
    c = c * i
    print(c)

2
14
42
210
1890
15120
30240
90720

In [ ]:
# month_31 = [1,3,5,7,8,10,12]

def print_days(month):
    if month == 2:
        print('28일 입니다.')
    elif month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
        if month == 7:
            print('소연쓰 생일^^')
        print('31일 입니다.')
    else:
        print('30일 입니다.')

month = int(input())
print_days(month)

7
소연쓰 생일^^
31일 입니다.

In [ ]:
a, b = map(int, input().split())
def result(a, b):
    return a * b, a + b

3 5

In [ ]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    for j in i:
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [ ]:
def result(a, b):
    return a * b, a + b

In [ ]:
def main():
    a, b = map(int, input().split())
    n, m = result(a, b)

    print('곱하기 값은 {0}, 더하기 값은 {1}.'.format(n, m))

if __name__ == '__main__':
    main()

2 6
곱하기 값은 12, 더하기 값은 8.